@model DGWebApp.MODULE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MODULE</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
